/* GLOBAL SECTION /
/* Define a color palette using CSS variables */
:root {
    --color-light-text: #ccc;
    --color-dark-text: #333;
}

/* Set box sizing of all elements */
/* The default behavior of the model is content-box,
border box reduces the height and width of the content
to account for the border and padding.  */
*, *::after, *::before {
    box-sizing: border-box; /* 1 */
}


/* setting the default font size of all elements which inherit from the
HTML element to 62.5% ensureest that 1 rem equals 10 pixels, which means that
the default p tag font size will be 10 px instead of the web starndard of 16 px */
html {
    font-size: 62.5%
}

body {
    /* Normalize rendering across browsers using margin: 0 on the body */
    margin: 0px; 

    /* Set the default typography for all body elements */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

/* NAVBAR SECTION */

/* Element selector to show that we can select a specific element */
nav {
    background: black;
    padding: 1rem
}

.navlist {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.navlist__listitem{
    padding: .5rem;
}

.navlist__link {
    color: var(--color-light-text);
    text-decoration: none;
    transition-property: color;
    transition-duration: .2s;
    transition-property: box-shadow;
    transition-duration: .05s;


}

.navlist__link:hover {
    color: black;
    background: white;
    box-shadow: 0rem 0rem 1rem 1rem white;
}


@media screen and (min-width:768px) {
   .navlist {
       flex-direction: row;
       justify-content: flex-start;
   }

   .navlist__listitem {
       margin: 0 1rem;
       padding: 0rem;
   }

   #lastitem {
       margin-left: auto;
   }

}


/* Hero Section */

.hero__text--large {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-shadow: 3px 3px black;
    word-spacing: .5rem;
    font-size: 2.5rem
}

.hero__text--small {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 5px;
    background-color:rgba(0,0,0,.35);
    font-size: 2rem
}

.hero__container {
    align-items: center;
    background: url(../images/hacker-at-night_ekdu3o_c_scale\,w_768.webp)
        no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--color-light-text);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .hero__text--large {
        font-size: 4.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .hero__container {
        background: url(s../images/hacker-at-night_ekdu3o_c_scale\,w_1024.webp);
        background-size: cover;
        background-position: center;
    }
    .hero__text--large {
        font-size: 6rem;
    }
    .hero__text--small {
        font-size: 3rem
    }
}

@media screen and (min-width: 1440px) {
    .hero__container {
        background: url(../images/hacker-at-night_ekdu3o_c_scale\,w_1400.webp);
        background-size: cover;
        background-position: center;
    }
    .hero__text--large {
        font-size: 9rem
    }
    .hero__text--small {
        font-size: 4rem;
    }
}



.card {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-shadow: 1rem 1.4rem 2rem rgba(0, 0, 0, .2);
    margin: 20px;
    border-radius: 15px;
}

.card__img {
    padding: 5rem;
    max-width:60%;
    align-self: center;

} 

.card__title {
    padding: 1rem;
}

.card__text {
    padding:1rem;
}

@media screen and (min-width: 768px) {
   .card {
       flex-direction:row;
       max-width: 100%;
   }
   .card__img {
       max-width:240px;
   }
}

@media screen and (min-width: 1024px) {

    .grid__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
}

}





